<?xml version="1.0"?>

<model>
  <name>knife</name>
  <version>1.0</version>
  <sdf version="1.2">knife-1_2.sdf</sdf>
  <sdf version="1.3">knife-1_3.sdf</sdf>
  <sdf version="1.4">knife-1_4.sdf</sdf>
  <sdf version="1.5">knife.sdf</sdf>

  <author>
    <name>Mihai Pomarlan</name>
    <email>blandc@cs.uni-bremen.de</email>
  </author>

  <description>
    A knife.
  </description>
</model>
