<?xml version="1.0"?>

<model>
  <name>bread</name>
  <version>1.0</version>
  <sdf version="1.2">bread-1_2.sdf</sdf>
  <sdf version="1.3">bread-1_3.sdf</sdf>
  <sdf version="1.4">bread-1_4.sdf</sdf>
  <sdf version="1.5">bread.sdf</sdf>

  <author>
    <name>Mihai Pomarlan</name>
    <email>blandc@cs.uni-bremen.de</email>
  </author>

  <description>
    A loaf of bread.
  </description>
</model>
