<launch>

  <!-- Load reasoning. TODO: get rid of the dep on ltfnp_reasoning. -->
  <param name="initial_package" type="string" value="pizza_demo" />
  <node name="json_prolog" pkg="json_prolog" type="json_prolog_node" output="screen"/>
  

  <!--<include file="$(find iai_kitchen)/launch/upload_kitchen.launch"/>-->
  <include file="$(find iai_pr2_sim)/launch/pr2.launch" />
  <include file="$(find giskard_pr2)/launch/whole_body_controller.launch">
    <arg name="sim" value="true" />
  </include>

  <!--<node name="tf2_buffer_server" pkg="tf2_ros" type="buffer_server"/>-->

  <!-- Web-related nodes for visualization in browser -->
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" args="" respawn="true" output="screen" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="$(optenv ROSBRIDGE_WEBPORT)" />
  </include>
  
  <!--TODO: get rid of these deps -->
  <!-- <include file="$(find pr2_moveit_node)/launch/move_group.launch"/> -->
  <include file="$(find pr2_moveit_node)/launch/nav_pcontroller.launch"/>

  <!-- Spawn pizza plate, pizza cutter -->
  <param name="pizza_description" textfile="$(find pizza_demo)/models/pizza_plate/pizza_plate.urdf" />
  <param name="cutter_description" textfile="$(find pizza_demo)/models/pizza_cutter/pizza_cutter.urdf" />
  <param name="bread_description" textfile="$(find pizza_demo)/models/bread/bread.urdf" />
  <param name="knife_description" textfile="$(find pizza_demo)/models/knife/knife.urdf" />


  <!-- A no-color version of the PR2, to be less distracting-->
  <param name="robot_description_nocol" textfile="$(find pizza_demo)/models/pr2.urdf"/>
  
</launch>

